html, body{
	margin: 0;
	width: 100%;


}

.main{
	width: 100%;
	height: 1080px;
	position: relative;
}

.img-background{
	width: 100%;
	height: auto;
}

#txt{
	width: 100%;
	position: absolute;
	font-size: 5vw;
	color: white;
	text-align: center;
	font-family: 'Roboto-Medium', sans-serif;
	margin-top: 14%;
	text-shadow: 0 2px 1px grey;
}
`.kurung{
	width: 100px;
	position: relative;
	margin-top: 20% ;
	margin-right: auto;
	margin-left: auto;
	background-color: black;
	border: 5px;
}

h1{
	width: 100%;
	margin-top: 20%;
	position: absolute;
	font-size: 5vw;
	font-weight: bold;
	text-align: center;
	color: white;
	font-family: 'Oswald', sans-serif;
	letter-spacing: 5px;
	text-shadow: 0 2px 2px grey;
	/*animation: animasi 0.3s ease-in infinite alternate;

}


@keyframes animasi{

	0%{

		opacity: 100%;
		font-size: 5.1vw;
		margin-top: 19.5%
	}
	25%{
		opacity: 90%;
		margin-top: 20.5%
	}
	75%{
		margin-top: 19.5%;

	}
	

	100%{
		opacity: 50%;
		margin-top: 20.5%

	}
}*/